body{
    display: grid;
    grid-template-areas:'greenline'
                        'header'
                         'main'
                         'contact'
                         'coment'
                         'footer';
    
                          
    grid-template-columns: 100% ;
    margin: 0;
}

h4, h5, h6 {
    margin-top: 0;
}

p {
    font-family: 'Roboto', sans-serif;
    color: #656565;
}

/* ======= line green ======*/
.line__green {
    height: 2vh;
    grid-area: greenline;
    background-color: #35c86f;
}

/* =============HEADER=============== */

header{
    grid-area: header;
    display: flex;
    justify-content: center;
    background-image: url(../imagem/banner.png);
    background-size: cover;
    padding: 50px 50px 0px 50px;
}

header .header__item__01 {
    color: #ffffff ;
    width: 40%;
    padding: 15px;
}
header .header__item__01 .header__text {
    width: 80%;
}
header .header__item__01 .header__text p {
    color: #ffffff;
}
header .header__item__01 h1 {
    font-size: 40px;
    font-family: 'Pacifico', cursive;
}
header .header__item__01 h1 span{
    color: #35c86f;
}
header .header__item__02 {
    display: flex;
    width: 25%;
}

header .header__item__01 .header__icon {
    display: flex;
    flex-direction: row;
}

header .header__item__02 img {
    width: 350px;
}

/* ===============MAIN================ */
main{
    grid-area: main;
    display: flex;
    justify-content: space-around;
    padding: 50px;
}

.content__main {
    width: 32%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.content__main .circulo{
    width: 15%;
    border-radius: 100%;
    background-color: rgba(75, 209, 142, 0.667);
    display: flex;    
    align-self: center;
    justify-content: center;
    padding: 50px;
}

.content__main .text__main {
    text-align: center;
    width: 100%;
}

/* ======= contact ======= */
#contact {
    grid-area: contact;
    display: flex;
    flex-flow: row;
    justify-content: space-around;
    padding: 50px;
    background-color: #e3e3e3;
}

#contact .text__contact {
    width: 50%;
}
#contact .text__contact form .input__contact {
    width: 100%;
}
#contact .text__contact form .input__contact button {
    height: 6vh;
    width: 15%;
    font-size: 16px;
    font-weight: bold;
    border: 1px solid #35c86f;
    border-bottom-right-radius: 5px;
    border-top-right-radius: 5px;
    background-color: #35c86f;
    color: #ffffff;
    margin: 0;
    padding: 5px;
}
#contact .text__contact form .input__contact button:hover {
    cursor: pointer;
}

#contact .text__contact form .input__contact input {
    width: 40%;
    height: 4vh;
    border: 1px solid transparent;
    border-bottom-left-radius: 5px;
    border-top-left-radius: 5px;
    margin: 0;
    padding: 5px;
    float: left;
}

#contact .video__contact {
    width: 40%;
}
#contact .video__contact iframe {
    width: 100%;
}
/* ======= coment ======= */
#coment {
    grid-area: coment;
    display: flex;
    flex-direction: column;
    text-align: center;
    padding: 15px;
    background-color: #ffffff;
}
#coment .coment__item__01 .name__person {
    font-weight: bold;
}
#coment .coment__item__02 {
    align-self: center;
}
#coment .coment__item__02 img:hover {
    color: #35c86f;
    opacity: 0.5;
    cursor: pointer;
}
#coment .coment__item__04 {
    display: flex;
    justify-content: center;
}

/* ======= footer ======= */
footer {
    grid-area: footer;
    background-color: #e3e3e3;
    padding: 15px;
}

footer ul {
    list-style: none;    
    display: flex;
    justify-content: space-around;
}


/* ======= icon item ======= */
.icon__item {
    margin: 10px;
    padding: 10px;
    border-radius: 60px;
    display: flex;
    align-content: center;
    width: 20px
}
.icon__item img {
    width: 20px;
}
.icon__item:hover{
    background-color: #35c86f;
    cursor: pointer;
}
.icon__theme__01 {
    background-color: #e3e3e3;
}
.icon__theme__02 {
    background-color: rgba(0, 0, 0, 0.5);
}
/* ======= media queries ======= */
@media (max-width: 800px){

    /* ====== header ====== */
    header {
        padding: 15px 50px 15px 50px;
    }
    header .header__item__01 {
        width: 100%;
    }
    header .header__item__02 img {
        display: none;
    }
    header .header__item__01 .header__text {
        width: 100%;
    }

    /* ====== header ====== */
    main {
        flex-direction: column;
    }

    main .content__main {
        width: 100%;
    }

    /* ====== contact ====== */
    #contact {
        flex-direction: column;
    }
    #contact .video__contact {
        width: 100%;
    }
    #contact .text__contact {
        width: 100%;
        margin-bottom: 5px;
    }
    #contact .text__contact form .input__contact input {
        width: 60%;
    }
    #contact .text__contact form .input__contact button {
        width: 30%;
    }
}

