body{
    display: grid;
    grid-template-areas: 'header'
                          'main'
                          'contact'
                          'coment'
                          'footer';
                          
    grid-template-columns: 100% ;
    margin: 0;
}

h4, h5, h6 {
    margin-top: 0;
}
header{
    grid-area: header;
    background-color: #35c86f; /* verde */
}

main{
    grid-area: main;
    background-color: gray;
}


/* ======= contact ======= */
#contact {
    grid-area: contact;
    display: flex;
    flex-flow: row;
    justify-content: space-around;
    padding: 50px;
    background-color: #e3e3e3;
}

#contact .text__contact {
    width: 50%;
}
#contact .text__contact form .input__contact {
    width: 100%;
}
#contact .text__contact form .input__contact button {
    height: 6vh;
    width: 15%;
    font-size: 16px;
    font-weight: bold;
    border: 1px solid #35c86f;
    border-bottom-right-radius: 5px;
    border-top-right-radius: 5px;
    background-color: #35c86f;
    color: #ffffff;
    margin: 0;
    padding: 5px;
}
#contact .text__contact form .input__contact input {
    width: 25%;
    height: 4vh;
    border: 1px solid transparent;
    border-bottom-left-radius: 5px;
    border-top-left-radius: 5px;
    margin: 0;
    padding: 5px;
    float: left;
}

#contact .video__contact {
    width: 40%;
}
#contact .video__contact iframe {
    width: 100%;
}
/* ======= coment ======= */
#coment {
    grid-area: coment;
    display: flex;
    flex-direction: column;
    text-align: center;
    padding: 15px;
    background-color: #ffffff;
}
#coment .coment__item__01 .name__person {
    font-weight: bold;
}
#coment .coment__item__02 {
    align-self: center;
}
#coment .coment__item__02 img:hover {
    color: #35c86f;
    opacity: 0.5;
    cursor: pointer;
}
#coment .coment__item__04 {
    display: flex;
    justify-content: center;
}
#coment .coment__item__04 .icon__item {
    background-color: #e3e3e3;
    margin: 10px;
    padding: 10px;
    border-radius: 60px;
    display: flex;
    align-content: center;
    width: 20px
}
#coment .coment__item__04 .icon__item img {
    width: 20px;
}
#coment .coment__item__04 .icon__item:hover{
    background-color: #35c86f;
    cursor: pointer;
}

/* ======= footer ======= */
footer {
    grid-area: footer;
    background-color: #e3e3e3;
    padding: 15px;
}

footer ul {
    list-style: none;    
    display: flex;
    justify-content: space-around;
}

/* ======= media queries ======= */
@media (max-width: 800px){
    #contact {
        flex-direction: column;
    }
    #contact .video__contact {
        width: 100%;
    }
    #contact .text__contact {
        width: 100%;
        margin-bottom: 5px;
    }
}

